node_modules
tests
.editorconfig
.gitignore
.gitlab-ci.yml
.pre-commit-config.yaml
.git
ci-*
mirror_deps_to_package_registry.sh
pkgInfo.py
sonar-project.properties
dist

.*_cache

__pycache__

./src/hanabi/html/static/
!./src/hanabi/html/static/player_choose_page.html
Dockerfile
